<html ng-app="escolaWeb"> 

<head> 
	
	<title> Escola Web</title>
	<script src="libs/angular.js" > </script>
	<script src="libs/angular-route.js" > </script>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src="js/app.js" > </script>
	<script src="js/controllers/loginCtrl.js"> </script>
	
	
</head>

<body ng-controller="loginCtrl" >

<div class="jumbotron loginBack">

	<h2> Login</h2>

	<input class="form-control" type="text" placeholder="Login" ng-model="user.login" />

	<input class="form-control" type="text" placeholder="Password" ng-model="user.password" />
	
	<button class="btn btn-primary btn-block" ng-click="doLogin(user)" > Enter</button>
	
	<h6 > {{message}}</h6>
	
</div>

<div ng-include="'views/footer.html'"> </div>

</body>





</html>